VITE_SUPABASE_URL=https://pzyvwakizibzrnyginst.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB6eXZ3YWtpemlienJueWdpbnN0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzNzcyNjIsImV4cCI6MjA4ODk1MzI2Mn0.UYVaKapwNhzzrZ96djCILfl38sSCVK1yHNJXQoUnijI
